textbox {
	-moz-binding: url("chrome://tombloo/content/completion.xml#textbox");
}

textbox *|input {
  ime-mode: inactive !important;
}

popup {
	-moz-binding: url("chrome://tombloo/content/completion.xml#popup");
	padding: 0;
 	cursor: pointer;
	
	border: 1px solid ThreeDShadow;
	-moz-border-top-colors: ThreeDShadow;
	-moz-border-right-colors: ThreeDShadow;
	-moz-border-bottom-colors: ThreeDShadow;
	-moz-border-left-colors: ThreeDShadow;
}

listbox {
	-moz-binding: url("chrome://tombloo/content/completion.xml#listbox");
	-moz-appearance: none !important;
 	border: none !important;
	margin: 0;
	width : auto !important;
}

listitem {
	-moz-binding: url("chrome://tombloo/content/completion.xml#listitem");
	outline: none !important;
	padding-right : 4px;
}

listitem[selected="true"] {
	background-color: Highlight;
	color: HighlightText;
}
