/* prefs.css */
textbox[readonly=true] {
	-moz-appearance: none;
	-moz-user-focus: ignore !important;
	-moz-border-bottom-colors: transparent;
	-moz-border-left-colors: transparent;
	-moz-border-right-colors: transparent;
	-moz-border-top-colors: transparent;
}
tab {
	padding: 0.4em 0.8em 0.1em 0.8em;
}
tabpanel {
	padding: 1.2em 0.7em;
}

checkbox, radio, button, tab {
	cursor: pointer;
}


#posters{
	width : 43em;
}

treechildren::-moz-tree-image {
	margin-left : 0.5em;
}

treechildren::-moz-tree-cell-text {
	margin-left : 0.5em;
}

treechildren::-moz-tree-row {
  height: 2.5em !important;
}

/* 画像をセルの真ん中に寄せるためcheckbox型を利用 */
treechildren::-moz-tree-checkbox(default) {
	list-style-image: url('chrome://tombloo/skin/default.png');
}

treechildren::-moz-tree-checkbox(enabled) {
	/* 透明度の設定はできない */
	list-style-image: url('chrome://tombloo/skin/enabled.png');
}

treechildren::-moz-tree-checkbox(disabled) {
	list-style-image: url('chrome://tombloo/skin/disabled.png');
}

/* 選択行のハイライトを無効に */
treechildren::-moz-tree-cell-text(selected) {
	color: inherit !important;
}

treechildren::-moz-tree-row(selected) {
  background-color: -moz-Field !important;
}

treechildren::-moz-tree-row(selected, focus) {
  background-color: -moz-Field !important;
}

treechildren::-moz-tree-row(current, focus) {
	border: none !important;
}

treechildren::-moz-tree-row(selected, current, focus) {
	border: none !important;
}

/* 交互に色分けし見やすく */
treechildren::-moz-tree-row(selected, even),
treechildren::-moz-tree-row(even) {
  background-color: #F3F3F3 !important;
}
