/* general / widget */
*, description {
	margin: 0;
	padding: 0;
}

label,
description{
	cursor : inherit !important;
}

textbox {
	padding: 0.2em;
}

button,
.button{
	cursor : pointer !important;
}


/* window / base */
window {
	font-size: 90%;
	background-color: transparent;
	
	width : 22em;
}

#base {
	-moz-border-radius: 4px;
	background-image: url(chrome://tombloo/skin/form_light.png);
}

window {
	cursor : -moz-grab;
}

.snap-top-left{
	cursor : url(chrome://tombloo/skin/snap-top-left.cur), pointer;
}

.snap-top-right{
	cursor : url(chrome://tombloo/skin/snap-top-right.cur), pointer;
}

.snap-bottom-left{
	cursor : url(chrome://tombloo/skin/snap-bottom-left.cur), pointer;
}

.snap-bottom-right{
	cursor : url(chrome://tombloo/skin/snap-bottom-right.cur), pointer;
}

resizer[dir="topleft"] {
	cursor: nw-resize;
}

resizer[dir="top"] {
	cursor: n-resize;
}

resizer[dir="topright"] {
	cursor: ne-resize;
}

resizer[dir="left"] {
	cursor: w-resize;
}

resizer[dir="right"] {
	cursor: e-resize;
}

resizer[dir="bottomleft"] {
	cursor: sw-resize;
}

resizer[dir="bottom"] {
	cursor: s-resize;
}

resizer[dir="bottomright"] {
	-moz-appearance: none;
	cursor: se-resize;
}


/* titlebar */
#type {
	font-weight: bold;
}

#toggleDetail{
	/* 押しやすいように拡げる */
	border : transparent solid;
	border-width : 3px 8px;
}

#toggleDetail image{
	list-style-image: url(chrome://tombloo/skin/arrow-down.png);
	background : #777;
	
	border : 4px transparent solid;
	-moz-border-radius : 1px;
}

#toggleDetail.expanded image{
	list-style-image: url(chrome://tombloo/skin/arrow-up.png);
}

#toggleDetail:hover image{
	background : #AAA;
	opacity : 0.8;
}

#toggleDetail:hover:active image{
	/* ちょっと押し込んだみたいに */
	border-width : 3px 4px 4px 3px;
	
	background : #111;
	opacity : 0.5;
}


#close {
	list-style-image: url(chrome://global/skin/icons/close.png);
	-moz-image-region: rect(0px, 14px, 14px, 0px);
	
	/* 押しやすいように拡げる */
	border : transparent solid;
	border-width : 0 0 4px 4px;
}

#close:hover {
	-moz-image-region: rect(0px, 28px, 14px, 14px);
}

#close:hover:active {
	-moz-image-region: rect(0px, 42px, 14px, 28px);
}

/* form */
#form {
	padding-top: 0.7em;
}

.length {
	font-size: 70%;
	color: #999999;
}

#tags{
	font-size : 85%;
	margin-top: 2em;
	-moz-binding: url("chrome://tombloo/content/completion.xml#container");
}

#tags listbox{
	padding: 0.2em;
}

#body,
#item,
#itemUrl,
#description{
	margin-top: 0.8em;
}

#description{
	min-height: 5em;
}

#item *,
#tags textbox{
	-moz-box-flex: 1;
}

div{
	border : 1px black solid;
	padding : 0 !important;
}

img#itemUrl {
	max-width: 25em;
	max-height: 25em;
}


/* posters */
#posters {
	margin-top: 0.8em;
}

#posters image.poster{
	width  : 16px;
	height : 16px;
	
	/*
	横方向の調整にborderを使いマウスオーバーしない時間を減らす。
	(横にスライドしながら選択できるようにする)
	縦方向の調整は文字組みの一部のためmarginを使う。
	下方向に拡大すると、行のベースラインも下がる。
	*/
	border : transparent solid;
	border-width : 0 8px;
	margin : 8px 0;
}

#posters image.poster:hover{
	width  : 24px;
	height : 24px;
	
	border-width : 0 4px;
	margin : 0;
}

#posters image.poster:hover:active{
	width  : 22px;
	height : 22px;
	
	border-width : 0 5px;
}

#posters image.poster[disabled=true]{
	opacity: 0.4;
}

#post {
	margin-top: 0.8em;
}

