body{
	font-family : 'Arial Black', Arial, sans-serif;
	font-size : 150%;
	color : #999;
}

a{
	color : #666;
	text-decoration : none;
	border-bottom : 3px solid;
}

.test_ok {
	color : green;
	display : none;
}

.test_not_ok {
	color: red;
	display: block;
	white-space : pre;
	font-size : 13px;
}

.test_ok, .test_not_ok {
}

.all_pass,
.some_fail {
	padding : 1em;
	margin : 1em 0;
	color : white;
}

.all_pass {
	background-color : lime;
}

.some_fail {
	background-color : red;
}

.tests_report{
	width : 100%;
}

table.tests_report iframe{
	width : 100%;
	height : 16em;
	border : none;
}

table.tests_report td,
table.tests_report th{
	padding : 0.3em 0.5em;
	color : white;
}

table.tests_report th{
	background-color : #CCC;
}

table.tests_report td.passed{
	background-color : lime;
	cursor : pointer;
}

table.tests_report td.failed{
	background-color : red;
	cursor : pointer;
}
